/* Beginning template / notes for CSS variables to more easily control
overall themes of this app: */

:root {
  --black: #000;
  --white: #fff;

}

.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------CSS GRID-------------- */
.item-a {
  grid-area: navbar;
}

.page-content {
  grid-area: user-content;
}

#page-layout {
  display: grid;
  grid-template-columns: [sidebar] 200px [main-content] 1fr;
  grid-template-rows: [top-nav] 200px [main-content] 1fr;
  /* grid-template-areas:
    "navbar navbar"
    "navbar user-content"; */
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}