/* --------------CSS GRID-------------- */
* {
    box-sizing: border-box;
    padding: 0;
}

.page-layout {
    background-color: #000000;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: [start-one] 200px [two] 1fr [end-three];
    grid-template-rows: [start-one] 80px [two] 200px [three] 1fr [end-four];
    grid-template-areas:
        "lunar-clock navbar"
        "lunar-clock lunar-btns"
        "sidebar page-content";
}

.nav-options {
    grid-area: navbar;
    justify-self: end;
    align-self: center;
    background-color: #000000;
}

.lunar-clock {
    grid-area: lunar-clock;
}

.lunar-btns {
    grid-area: lunar-btns;
    place-self: center stretch;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
}

.page-content {
    background-color: white;
    grid-area: page-content;
    padding-left: 30px;
    padding-top: 30px;
    max-height: 50vh;
    overflow: auto;
}


/* --------------ITEM STYLING ELEMENTS-------------- */

/* Chips will be for CATEGORIES and MOON PHASES. Need to create
another class for color/gradient so they look different. */
.chip {
    display: inline-block;
    padding: 0 15px;
    margin-left: 10px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 25px;
    color: white;
    background-color: #000000;
}