/* --------------CSS GRID-------------- */
.content-background {
    grid-area: content-frame;
}

.content-a {
    grid-area: item-a;
    background-color: rgba(238, 238, 238, 0.8);
}

.content-b {
    grid-area: item-b;
}

.blank-space {
    grid-area: white-border;
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.8);
}

.page-container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 300px 1fr 300px 1fr;
    grid-template-rows: 80px 300px 80px 1fr;
    grid-template-areas:
        ". . . . ."
        ". item-a . item-b ."
        ". . . . ."
        "white-border white-border white-border white-border white-border";
}

/* Additional styling elements: */
.big-emoji {
    font-size: 50px;
}

/* Responsive Layout for Mobile: */
@media screen and (max-width: 500px) {
    .page-container {
        display: flex;
        flex-direction: column;
    }
    .content-a {
        order: 2;
        padding: 20px;
        margin-top: 65px;
        height: 100vh;
    }
    .content-b {
        order: 1;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: black;
    }
    .blank-space {
        display: none;
    }
}