/* --------------CSS VARIABLES-------------- */
:root {
    --moonlight: rgb(238, 238, 238);
    --moonshading: rgb(156, 156, 156);
    --moon-shadow: rgb(51, 51, 51);
    --moondark: rgb(0, 0, 0);
  }

/* --------------CSS GRID-------------- */
* {
    box-sizing: border-box;
    padding: 0;
}

.page-layout {
    background-color: #000000;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: [start-one] 200px [two] 1fr [end-three];
    grid-template-rows: [start-one] 80px [two] 200px [three] 1fr [end-four];
    grid-template-areas:
        "lunar-clock navbar"
        "lunar-clock lunar-btns"
        "sidebar page-content";
}

.nav-options {
    grid-area: navbar;
    justify-self: end;
    align-self: center;
    background-color: var(--moondark);
}

.lunar-clock {
    grid-area: lunar-clock;
}

.lunar-btns {
    grid-area: lunar-btns;
    place-self: center stretch;
}

.sidebar {
    grid-area: sidebar;
    max-height: 100%;
    overflow: auto;
}

.page-content {
    background-color: var(--moonlight);
    grid-area: page-content;
    padding: 20px 40px;
    max-height: 100%;
    overflow: auto;
}


/* --------------ITEM STYLING ELEMENTS-------------- */

/* Chips will be for CATEGORIES and MOON PHASES. Need to create
another class for color/gradient so they look different. */
.chip {
    display: inline-block;
    padding: 0 15px;
    margin-left: 10px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 25px;
    color: var(--moonlight);
}

.category {
    background-color: var(--moon-shadow);
}

.moon-phase {
    background-color: var(--moondark);
}

.completed-task {
    text-decoration: line-through;
}

.uncompleted-task {
    text-decoration: none;
}