/* ----- CSS VARIABLES ------ */

:root {
    --moonlight: rgb(238, 238, 238);
    --moonshading: rgb(156, 156, 156);
    --moon-shadow: rgb(51, 51, 51);
}

.phase-btns-container {
    display: flex;
}

/* ----- MOON CLOCK ------ */

.clock-label, 
.clock-label a {
    color: var(--moonlight);
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.clock-label:hover {
    background-color: var(--moonshading);
    text-decoration: none;
}

.moon {
    width: 150px;
    height: 150px;
    margin-left: 10%;
    border-radius: 50%;
    border: solid 1px;
}

.first-quarter {
    background: linear-gradient(90deg,
            var(--moon-shadow) 46%,
            var(--moonlight) 52%);
}

.waxing-crescent {
    background: linear-gradient(90deg,
            var(--moon-shadow) 73%,
            var(--moonlight) 78%);
}

.new {
    background: var(--moon-shadow);
}

.waning-crescent {
    background: linear-gradient(90deg,
            var(--moonlight) 22%,
            var(--moon-shadow) 28%);
}

.last-quarter {
    background: linear-gradient(90deg,
            var(--moonlight) 46%,
            var(--moon-shadow) 52%);
}

.waning-gibbous {
    background: linear-gradient(90deg,
            var(--moonlight) 73%,
            var(--moon-shadow) 78%);
}

.full {
    background: linear-gradient(90deg,
            var(--moonlight),
            var(--moonshading));
}

.waxing-gibbous {
    background: linear-gradient(90deg,
            var(--moon-shadow) 22%,
            var(--moonlight) 28%);
}